<div class="form-group">
    {{#power-select
        options=dataFields
        selected=selectedDataField
        onchange=(action "changeDataField")
        as |dataField|
    }}
        {{dataField.field_name_visible}}
    {{/power-select}}
</div>

<div class="form-group">
    {{#power-select
        options=operators
        selected=condition.operator
        onchange=(action "changeOperator")
        as |operator|
    }}
        {{operator}}
    {{/power-select}}
</div>

<div class="form-group">
    {{input value=condition.value key-press=(action 'changeValue')}}
</div>

<div class="form-group">
    <code>
        {{conditionString}}
    </code>
</div>